.services {
  padding: 2rem 0.9rem;
  display: flex;
  margin-bottom: 1rem;
  top: 9rem;
  padding-top: 3.5rem;
  padding-left: 90px;
}

.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--green);
  font-size: 3rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  text-align: justify;
  line-height: 1.2; 
  /* text-justify:auto;  */
  font-size: 0.9rem;
  color: var(--gray);
  margin-top: 1rem;
  /* color: rgb(95, 189, 58); */
}
.s-button {
  width: 9rem;
  height: 2.5rem;
  margin-top: 1rem;
}
/* right sided */
.cards {
  position: relative;
}
.cards > * {
  position: absolute;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 5rem;
  left: 18rem;
  opacity: 0.5;
}

.mySwiper .swiper-pagination {
  position: relative;
  bottom: 10px;
  top:0;
  padding: -10px;
  margin: 10px;
}


.mySwiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #e2e2e2; 
  opacity: 1;
  transition: background-color 0.3s ease;
}


.mySwiper .swiper-pagination-bullet-active {
  background-color: #452fc2; 
  z-index:auto;
}


.card {
  width: 10rem;
  height: 13rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  width: 10rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--green);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
  border-color: #5eb939;
}
.card span:nth-of-type(2) {
  color: #aaa8a8;
  font-size: 16px;
}
.card > img {
  transform: scale(0.6);
  margin-bottom: -1rem;
}
.c-button {
    background: #FFFFFF;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290FD;
}

.c-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.icon-container {
  display: flex;
  gap: 16px; 
  margin-top: 0.5rem;
}

.icon {
  width: 50px; 
  height: 50px;
  object-fit: contain; 
  transition: transform 0.2s ease-in-out; 
}

.icon:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 480px){
  .card{
    width: auto;
  }
}

.awesome {
  /* width: 50%; */
  text-align: left;
}

.service {
  font-size: 2.5rem;
  font-weight: bold;
}

.swiper-container {
  width: 50%;
}

.cards {
  position: relative;
}

.service-img {
  max-width: 150px;
  margin: 0 auto 0.5rem;
}

.service-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.service-desc {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* margin-left: 200px; */
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #5eb939;
}

@media screen and (max-width: 1024px) {
  .services {
    /* margin-top: -100px; */
    flex-direction: column;
    gap: 5rem;
    /* height: 66rem; */
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }

}

@media screen and (max-width: 480px) {
 .services{
  position: relative;
  margin-top: 20px;
  top: 3rem;
  bottom: 5rem;
  padding-left: 40px;
 }
 .awesome > :nth-child(1) {
  font-size: 2.2rem;
 }

}

@media screen and (max-width: 1024px) {

  .awesome{
    width: 100%;
  }
  .swiper-container {
    width: 100%;
  }

  .custom-pagination {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    margin-left: 120px;
  }
}

@media screen and (max-width: 380px) {
  .awesome > :nth-child(2) {
      font-size: 2.5rem;
  }
} 





