.card {
  width: 10rem;
  height: 13rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  width: 10rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--green);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
  border-color: #5eb939;
}
.card span:nth-of-type(2) {
  color: #aaa8a8;
  font-size: 16px;
}
.card > img {
  transform: scale(0.6);
  margin-bottom: -1rem;
}
.c-button {
    background: #FFFFFF;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #5290FD;
}

.c-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.icon-container {
  display: flex;
  gap: 16px; 
  margin-top: 0.5rem;
}

.icon {
  width: 50px; 
  height: 50px;
  object-fit: contain; 
  transition: transform 0.2s ease-in-out; 
}

.icon:hover {
  transform: scale(1.1); 
}

@media screen and (max-width: 480px){
  .card{
    width: auto;
  }
}



.awesome {
  width: 50%;
  text-align: left;
}

.service {
  font-size: 2.5rem;
  font-weight: bold;
}

.swiper-container {
  width: 50%;
}

.cards {
  position: relative;
}

.service-img {
  max-width: 150px;
  margin: 0 auto 0.5rem;
}

.service-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.service-desc {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* margin-left: 200px; */
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #5eb939;
}

@media screen and (max-width: 1024px) {

  .awesome{
    width: 100%;
  }
  .swiper-container {
    width: 100%;
  }

  .custom-pagination {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    margin-left: 100px;
  }
}

