.contact-form{
    padding: 0 1rem 6rem 3rem;
    display: flex;
    height: 80vh;
    margin-top: 0.5rem;
      /* scroll */
    padding-top: 5rem;
}

.c-left{
    display: flex;
    justify-content: center;
    /* position: relative;
    flex: 1; */
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: center; */
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--green);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}
.spanemail{
    color: var(--green);
    font-size: 25px;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .contact-form{
        /* padding: 0; */
        flex-direction: column;
        /* justify-content: left; */
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 20rem;
    }
    .c-right {
       
        justify-content: left;
       
    }
    .contact-form{
        margin-top: 4rem;
        padding-top: 5rem;
    }
} 

@media screen and (max-width: 540px) {
    .c-right .user{
        width: 18rem;
    }
} 
@media screen and (max-width: 480px) {
    .c-right .user{
        width: 15rem;
    }
    .contact-form{
        padding: 0 0rem 15rem 1.5rem;
        display: flex;
        height: 80vh;
        margin-top: 4rem;
          /* scroll */
        padding-top: 5rem;
    }
} 
@media screen and (max-width: 400px) {
    .c-right .user{
        width: 12rem;
    }
} 
@media screen and (max-width: 330px) {
    .c-right .user{
        width: 98%;
    }
} 
@media screen and (max-width: 380px) {
    .awesome .contactme{
        font-size: 2.5rem;
    }
} 