/* General Styles */
.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: black; */
    color: white;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .n-wrapper.scrolled {
    background-color: #000000d9; /* Slight transparency on scroll */
  }
  
  /* Left Section */
  .n-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .n-name {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* Right Section */
  .n-right {
    display: flex;
    align-items: center;
  }
  
  .n-list {
    display: flex; /* Links are always visible in horizontal layout */
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .n-list ul {
    display: flex;
    gap: 2rem;
  }
  
  .n-list ul li {
    color: white;
    font-weight: bold;
  }
  
  .n-list ul li:hover {
    color: var(--green);
    cursor: pointer;
  }
  
  .n-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--green);
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .n-button:hover {
    background-color: white;
    color: var(--green);
    border: 1px solid var(--green);
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger svg {
    transition: transform 0.3s ease;
  }
  
  .hamburger svg:hover {
    transform: scale(1.1);
  }
  
  /* Dropdown Menu for Mobile Screens */
  .n-list.show ul {
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 1rem;
    background-color: #5eb939;
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
  }
  
  .n-list ul li {
    margin: 0.5rem 0;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid white;
  }
  
  .n-list ul li:last-child {
    border-bottom: none;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 1024px) {
    .n-list {
      display: none; /* Hide links in desktop view */
    }
  
    .hamburger {
      display: block; /* Show Hamburger menu */
    }
  
    .n-list.show {
      display: block;
    }
  }
  