.experience-container {
    padding-left: 2rem;
    padding-top: 2rem;
  }
  

  .experience-header2 {
    display: flex;
    text-align:center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
   }

   .experience-header2 > :nth-child(1) {
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
  }
  .experience-header2 > :nth-child(2) {
    color: var(--green);
    font-size: 3rem;
    font-weight: bold;
  }

  

  .icon-containerExp {
    width: 61px;
    height: 61px;
    border-radius: 50%; /* Ensures the container is circular */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* Prevents the circle from shrinking unexpectedly */
  }
  
  .icon-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the circle, cropping if necessary */
  }
  
  .vertical-timeline-element-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #1b2136;
  }
  .vertical-timeline-element-subtitle{
    font-size: 0.9rem;
    font-style: italic;
    color: rgb(10, 15, 22);
  }
  .vertical-timeline-element-content p{
    font-size: 0.8rem; 
    padding-left: 15px;
    line-height: 1rem;
    color: var(--black);
    text-align: justify;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content{
    padding: 0.9rem
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 0.8rem;
    color: var(--green);
    opacity: 1;
    font-weight: bold;
  }
  .vertical-timeline-element-content {
    -webkit-box-shadow: 0 5px 0 #ddd;
    box-shadow: 0 5px 0 #ddd;
  }

  
  .experience-container > p {
    margin-top: 0.1rem;
    font-size: smaller;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 1rem;
  }

  .skill-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background: rgba(94, 185, 57, 0.1);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
  }

  .skill-item > span{
    font-size: 0.63rem;
    color: rgb(13, 35, 68);
  }
  
  .skill-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  @media (max-width: 992px) {
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
      color: var(--black);
    }
  }
  
  @media (max-width: 992px) {
    .experience-container {
      padding: 0.4rem;
    }
  }
  @media (max-width: 1170px) {
    .icon-containerExp {
      width: 41px;
      height: 41px;
    }
  }
  
  @media (max-width: 480px) {
    .icon-containerExp {
      width: 40px;
      height: 40px;
    }
      .experience-header2 {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.5rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
      }
    
      .experience-header2> :nth-child(1) {
        font-size: 2rem;
      }
      .vertical-timeline-element-content p{

        text-align:unset;
      }
    }
  
  

  
  