:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --green: #5eb939;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 0rem;
  max-width: 100%;
  box-sizing: border-box;
  color: var(--black);
  font-weight: 300;
  font-size: 27px;
}


.button {
  background: linear-gradient(180deg, #5eb939 47.71%, #7bf14d 70.36%);
  box-shadow: 0px 1px 10px 1px #5db93976;
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 24px;
  padding: 16px 26px 11px 26px;
  opacity: 50;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--green);
  color: var(--green);
}

@media screen and (max-width: 480px) {

}